<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="author" content="Sharif Olorin" />
        <meta name="description" content="Personal homepage of Sharif Olorin - current projects, contact details, code." />
        <title>$title$ - tesser.org</title>
        <link rel="stylesheet" type="text/css" href="/css/tesser.css" />
    </head>
    <body>
        <div id="header">
            <div id="navigation">
                <a href="/">home</a>
                <a href="/doc/">doc</a>
                <a href="https://github.com/fractalcat">src</a>
            </div>
        </div>
        <div id="content">
            $body$
        </div>
        $partial("templates/footer.html")$
    </body>
</html>
